
/*700px breakpoint*/

/*================================================================
Project styles
 =================================================================*/

.container-main {
  width: 100%;
}

.type {
  margin: 0 15px 0 15px;
}


/*================================================================
Header and Nav styles
 =================================================================*/


.companyname img{
  padding: 10px;
}

.companyname p {
  display:none;
}

 .nav a {
   padding: 10px;
 }



/*================================================================
Main styles
 =================================================================*/

.main img {
  width: 75%
}

/*================================================================
Testimonial styles
 =================================================================*/

.testimonial blockquote{
  border: none;
  font-size: 26px;
}

.testimonial {
  padding: 75px;
}

/*================================================================
Meet-team styles
 =================================================================*/

.meet-team button {
  border: 3px solid black;
  background-color: inherit;
  width: 185px;
  height: 40px;
  padding: 2px;
  font-size: 20px;
}
