
/*700px breakpoint*/

/*================================================================
Project styles
 =================================================================*/

.container-main {
  width: 100%;
}

.type {
  margin: 0 15px 0 15px;
}

/*================================================================
Main styles
 =================================================================*/

.main img {
  width: 75%
}

/*================================================================
testimonial styles
 =================================================================*/

.testimonial blockquote{
  border: none;
  font-size: 26px;
}

.testimonial {
  padding: 75px;
}
