/*One Page Project
Johnathon Sykes @mrjsykes
hireme@mrjsykes.com*/

/*================================================================
Project styles
 =================================================================*/


body {
  text-align: center;
}

.space-top {
  margin-top: 40px;
}

.space-bottom {
  margin-bottom: 40px;
}

.type {
  margin: 0 30px 0 30px;
}




 /*================================================================
   Header and Navigation styles
  =================================================================*/

  .header{
    background: url('../img/header.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    color:white;

  }

  .header h1 {
    font-size: 60px;
  }

  .intro{
    background-color:inherit;
  }


  .nav a {
    color: white;
    padding: 20px;
  }


  .companyname img{
    padding: 20px;
  }






  /*================================================================
  Signup and form styles
   =================================================================*/
  .signup {
    background-color: #f88f7a;
    color: white;
    padding: 10px;
  }

  .signup h2 {
    font-size: 36px;
  }

  .form-inline{
    margin: 20px 10px 10px 0;
  }

  .form-inline button{
    border: 3px solid white;
    background-color: inherit;
    width: 169px;
    height: 39px;
    padding: 2px;
    font-size: 20px;
  }

  .signup h2, .form-group, .btn-group {
    padding: 10px;
  }

  /*================================================================
  Main styles
   =================================================================*/
   .main h4 {
     margin-top: 30px;
   }

   .main h1 {
     font-size: 48px;
   }


   /*================================================================
   Services styles
    =================================================================*/
    .services {
      background-color: #f2f2f2;
      padding: 20px;
    }

    .services h4 {
      font-size: 16px;
    }

    .square {
      background-color: white;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      border: 15px solid #f2f2f2;
    }


    /*================================================================
    Services styles
     =================================================================*/
      .testimonial{
        background: url('../img/testimonial.png') no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
        color:white;
        padding: 100px;
      }

     .testimonial blockquote{
       border: none;
       font-size: 51px;

     }
